<div class="alert alert-info mb-1" role="alert">
  <p class="mb-0">
    Welcome to my warehouse! This is a small Ruby on Rails playground e-commerce application that I have built for educational purposes.<br><br>
    None of the items listed on this website are real.<br><br>
    In fact, the payment processor will not even accept real payment information.<br><br>
    If you would like to test the site functionality (hopefully there are still items for sale when you see this), you can enter fake information for the order details (please keep it respectful), and use Stripe's test credit card number 4242 4242 4242 4242 with any future expiration date and any security code for payment!<br><br>
    I should also mention that orders timeout after 15 minutes!
  </p> 
</div>
