<h1>Loading payment...</h1>
<script src="https://js.stripe.com/v3/"></script>
<script type="text/javascript">
  var stripe = Stripe("<%= Rails.application.credentials.stripe[:development][:publishable_key] %>");
  stripe.redirectToCheckout({ sessionId: "<%= @order.checkout_session %>" })
  .then(function(result) {
    if (result.error) {
      alert(result.error.message);
    }
  })
  .catch(function(error) {
    console.error("Error: ${error}");
  });
</script>
